<!doctype html>
<html>
<head>
  <title>Car Detection</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
    }

    h1 {
      color: #333;
      text-align: center;
    }

    #video-container {
      text-align: center;
    }

    #video {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <h1>Car Detection</h1>
  <div id="video-container">
      <img id="video" src="{{ url_for('camera_feed') }}" alt="Car Detection Video">
  </div>

  <script>
    // Lấy video element
    const video = document.getElementById('video');
    const canvas = document.createElement('canvas');
    const context = canvas.getContext('2d');
    const offscreenCanvas = document.createElement('canvas');
    const offscreenContext = offscreenCanvas.getContext('2d');
    let mediaStream = null;

    async function startCamera() {
      try {
        mediaStream = await navigator.mediaDevices.getUserMedia({ video: true });
        video.srcObject = mediaStream;
        video.play();
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        offscreenCanvas.width = video.videoWidth;
        offscreenCanvas.height = video.videoHeight;
        setInterval(updateCanvas, 200); // Tần suất cập nhật mỗi 200ms
      } catch (error) {
        console.error('Lỗi khi mở camera:', error);
      }
    }

    function updateCanvas() {
      if (mediaStream) {
        offscreenContext.drawImage(video, 0, 0, offscreenCanvas.width, offscreenCanvas.height);

        // Thực hiện xử lý ảnh trên offscreen canvas (ở đây có thể thêm code xử lý ảnh nếu cần)

        // Vẽ ảnh đã xử lý lên canvas hiển thị
        context.drawImage(offscreenCanvas, 0, 0, canvas.width, canvas.height);

        // Cập nhật video
        const imgDataUrl = canvas.toDataURL('image/jpeg', 0.5);
        video.src = imgDataUrl;
      }
    }

    // Gọi hàm startCamera để bắt đầu mở camera và cập nhật video
    startCamera();
  </script>
</body>
</html>
